body
{
margin:0px;
padding:200px;
}
.profile
{
    width:176px;
    margin-bottom:50px;
    border-radius:50%;
}
#welcome
{
position: absolute;
overflow: hidden;
height: 600px;
color: dodgerblue;
left: 0;
bottom: 0;
top: 0;
right: 0;
opacity: 0.83;
background: linear-gradient(#34eb89 10%, #27ae60 90%);
height: 100%;
width: 100%;
}